.top-nav{
    float: left;
}
span.menu {
    float: right;
    right: 0;
}
.searchbox {
    left: 0px;
    float: left;
}
.searchbox-icon, .searchbox-submit{
    left: 0;
}
.searchbox-input {
    padding: 0 10px 0 55px;
    left: 0;
}
.title{
    float: right;
}
.see-all{
    float: left;
}
.back-content-download {
    float: right;
    right: 0;
}

.languages {
    left: 40px;
    float: left;
}