/**
* Created by PhpStorm.
* user: Faizan
*/

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'lato', sans-serif;
}
body::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: #fff;
    background-image: url("../images/bg.png");
    background-size: 100% 100%;
    background-attachment: fixed;
}
body {
    position: relative;
    height: auto;
    min-height: 100%;
    font-family:"Roboto slab", Roboto, Arial, sans-serif;
    font-size:14px;
    line-height:1.42857143;
    background: #fff;
    background-image: url("../images/bg.png");
    background-size: 100% 100%;
    background-attachment: fixed;
}
a {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
a:focus, a:hover, a:active {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.btn:hover, .btn:focus, .btn.focus {
    text-decoration: none;
    outline: 0;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset:0px;
}
li {
    list-style-type: none;
    padding:0;
}
.clearfix {
    overflow: auto;
    zoom: 1;
    width: 100%;
}
.h1, .h2, .h3, h1, h2, h3, .h4, .h5, .h6, h4, h5, h6 , div{
    margin: 0px auto;
    font-family: Roboto Condensed,Arial,Helvetica,sans-serif;
}
ul,ol {
    margin: 0;
    padding: 0;
}
.container{
    padding:0;
    margin: 0 auto;
}
@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-regular.ttf")
}
@font-face {
    font-family: "roboto-light";
    src: url("../fonts/roboto-light.ttf")
}
@font-face {
    font-family: "roboto-medium";
    src: url("../fonts/roboto-medium.ttf")
}

/******header start*****/
header {
    background: #000;
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 999;
}
.header-up {
    top: -50px;
}
.product-name {
    float: left;
    margin: 0 auto;
}
.product-name img{
    width: 180px;
    height: auto;
    padding: 10px;
}
/*.product-name a{*/
    /*text-decoration: none;*/
    /*color: #8fbf00;*/
    /*text-transform: uppercase;*/
    /*font-size: 25px;*/
    /*padding: 7px;*/
    /*display: inline-table;*/
    /*letter-spacing: 1.5px;*/
    /*font-weight: bold;*/
/*}*/
/*.product-name  a span{*/
    /*text-decoration: none;*/
    /*color:#fff ;*/
/*}*/
.top-nav{
    float: none;
    margin: 0 auto;
}
.menurotate{
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.top-nav ul {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    background: #8fbf00 ;
    border: 0;
    padding: 5px;
    text-align: center;
    float: none;
    overflow: hidden;
    top: 50px;
    left: 0;
    right: 0;
}
.top-nav span.menu {
    padding: 7px;
    color: #8fbf00;
    display: inline-block;
    float: left;
}
.top-nav span.menu img{
   width:35px;
}

.top-nav ul a li  {
    color: #fff;
    display: block;
    margin: 0;
    background: none;
    border: none;
    padding: 0.5em;
    text-transform: capitalize;
}
.top-nav ul a li.active a , .top-nav ul a li:hover, .top-nav ul a li:focus, .top-nav ul a li:active {
    color: #000;
}
/******header end*****/

/*****search css start*****/
.searchbox{
    position:absolute;
    top: 5px;
    right: 0px;
    float:right;
    min-width:40px;
    width:0%;
    height:40px;
    margin:0 auto;
    overflow:hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.searchbox-input{
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: #8fbf00 ;
    width:100%;
    height:40px;
    margin:0 auto;
    padding: 0 55px 0 10px;
    font-size: 16px;
    color: #000;
    text-transform: lowercase;
}
.searchbox-input::-webkit-input-placeholder {
    color: #000;
    text-transform:uppercase;
    font-size: 14px;
}
.searchbox-input:-moz-placeholder {
    color: #000;
    text-transform:uppercase;
    font-size: 14px;
}
.searchbox-input::-moz-placeholder {
    color: #000;
    text-transform:uppercase;
    font-size: 14px;
}
.searchbox-input:-ms-input-placeholder {
    color: #000;
    text-transform:uppercase;
    font-size: 14px;
}
.searchbox-icon,.searchbox-submit{
    width:40px;
    height:40px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size: 25px;
    right: 0;
    padding: 0;
    margin:0 auto;
    border:0;
    outline:0;
    text-align:center;
    cursor:pointer;
    color:#8fbf00;
    background:#000 ;
}
.searchbox-open{
    width:100%;
}

.search-result{
    padding:10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Dosis-Regular;
}

/*****search css end******/

.back-content-download {
    float: left;
    padding: 13px;
    display: inline-block;
}
.back-content-download  .fa-arrow-left{
    font-size: 22px;
    color:#8fbf00;
}
.lazy-hidden {
    background: transparent url(../images/loading.gif) no-repeat 50% 50%;
}
.languages {
    position: absolute;
    top: 10px;
    right: 40px;
    float: right;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    background: #000;
    color: #8fbf00;
    border: 1px solid #8fbf00;
    padding: 5px 2px;
}
.listing-title {
    text-transform: uppercase;
    color: #000;
    background: #8fbf00;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

/**********carousel start*********/
#jssor_1{
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:980px ;
    height:380px;
    overflow:hidden;
    visibility:hidden;
}
.slides{
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:980px;
    height:380px;
    overflow:hidden;
}
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}
@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.jssorb051 .i {
    position: absolute;
    cursor: pointer
}
.jssorb051 .i .b {
    fill: #fff;
    fill-opacity: .5
}
.jssorb051 .i:hover .b {
    fill-opacity: .7
}
.jssorb051 .iav .b {
    fill-opacity: 1
}
.jssorb051 .i.idn {
    opacity: .3
}
.jssora051 {
    display: block;
    position: absolute;
    cursor: pointer
}
.jssora051 .a {
    fill: #fff;
    stroke: #fff;
    stroke-width: 360;
    stroke-miterlimit: 10
}
.jssora051:hover {
    opacity: .8
}
.jssora051.jssora051dn {
    opacity: .5
}
.jssora051.jssora051ds {
    opacity: .3;
    pointer-events: none
}
/*********carousel end*********/

/*********carousel touch grid strat***/
/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    background: transparent;
    direction: ltr;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
/*********carousel touch grid end***/

/********main content start********/
.page-wrapper {
    padding: 3.5em 0 15em;
    position: relative;
    overflow:hidden;
}
.grid-wrapper{
    position: relative;
}
.slide-item {
    padding: 5px;
    position: relative;
}
.content-grid {
    width:16.66%;
    float: left;
    margin: 0 auto;
    position: relative;
    padding: 5px;
}
.title-head{
    padding: 10px 10px 0;
    margin: 10px auto 0;
    overflow: hidden;
    color: #fff;
}
.title {
    text-transform: uppercase;
    display: inline-block;
    float: left;
    left: 0;
    font-size: 1.5em;
    color: #000;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}
.see-all {
    margin: 5px auto 0;
    font-size: 11px;
    padding: 4px;
    text-transform: uppercase;
    background: #8fbf00;
    color: #fff;
    display: inline-block;
    float: right;
    right: 0;
    line-height: 1.2;
}
.img-hover img{
    width:100%;
    background: #fff;
    padding: 10px;
    box-shadow:0px 2px 1px rgba(110, 110, 111, 0.12);
}
.content-info {
    padding: 0px 10px 10px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -webkit-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -o-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -moz-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
}
.content-title {
    font-size: 1em;
    color: #222;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
}
.title-fade{
    top: 0px;
    color: rgb(51, 51, 51);
    display: block;
    height: 20px;
    max-height: 100%;
    position: absolute;
    right: 0px;
    text-align: left;
    text-rendering: optimizelegibility;
    white-space: nowrap;
    width: 20px;
    align-self: stretch;
    perspective-origin: 22.5px 8.5px;
    transform-origin: 22.5px 8.5px;
    background: rgba(255, 255,255, 0) linear-gradient(to right, rgba(255, 255, 255, 0.5), rgb(255, 255, 255)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px/17px Roboto, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}
.title-name {
    /*float: left;*/
    /*left:0;*/
    font-size: 0.7em;
    color: #fe423f;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.star-rating {
    float: left;
    right:0;
    color: #fe423f;
    font-size: 0.7em;
}
.star-rating ul li {
    color: #fe423f;
}
.star-rating ul li{
    display: inline-block;
    list-style: none;
}
.icon{
    float: right;
    right: 0;
}
.icon i{
    float: right;
    right: 0;
    color:#8fbf00;
}
/*********main content start******/

/***************details start ***********/
.download-wrapper{
    padding: 15px 0px;
    overflow: hidden;
    position: relative;
}
.downlaod-img{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    border:10px solid #fff;
}
.download-title{
    text-transform: uppercase;
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
    margin:.8em auto 0;
    text-align: center;
}
.download-category-name{
    margin:3px auto;
    color:#fe423f;
    position:relative;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
.download-info{
    margin:.5em auto;
    color:#000;
    line-height:1.5em;
    position:relative;
    text-align: center;
}

.download-star-rating{
    color:#fe423f;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    margin:.5em auto 0;
    text-align: center;
}
.download-star-rating .fa{
    color:#fe423f;
    text-align: center;
}
.download-btn {
    background: #fff;
    padding: 5px;
    text-align: center;
    margin: 1em auto;
    font-size: 1em;
    font-weight: bold;
    color: #8fbf00;
    border:2px solid #8fbf00;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 100px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.download-btn:hover , .download-btn:hover,.download-btn:active {
    background: #8fbf00;
    color: #fff;
    border:1px solid #8fbf00;
}

/***************details end ***********/

/******terms-condition start******/
.terms-condition p{
    text-transform: uppercase;
    color: #ff0000;
    padding: 20px;
    font-size: 18px;
    margin: 0 auto;
    font-family: roboto-regular;
    font-weight: bold;
}
.terms-condition-list{
    padding: 0 25px;
}
.terms-condition-list li{
    font-family: roboto-regular;
    list-style-type: unset;
    color: #000;
    font-size: 14px;
    padding:10px 0;
}
/******terms-condition start******/

/*****message status start*********/
.message-status{
    background: transparent;
    color: #000;
    border: 1px solid #000;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 95%;
}
.message-alert{
    margin: 5px auto;
}
.price-btn{
    margin: 10px auto;
}
.price-btn a{
    padding: 5px;
    margin: 5px;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}
.price-btn a:hover, .price-btn a:active, .price-btn a:focus{
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}
/*****message status end*********/
/****** consent css start*******/
.consent {
    text-align: center;
    margin: 30px auto;
}
.consent img {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
.ok-button:hover, .ok-button:active, .ok-button:active,
.cancel-button:hover, .cancel-button:active, .cancel-button:active{
    background: #fff;
    box-shadow: 0px 2px 2px 2px  #8fbf00 ;
    color:#8fbf00 ;
}
.plan-details {
    position: relative;
    top: 20%;
    font-size: 10px;
    text-align: center;
    color:#000;
    font-family: roboto-regular;
    text-transform: uppercase;
    left: 0;
    right: 0
}
.consent-1 h4{
    font-size: 2em;
    margin: 10px auto;
    line-height: 1.5;
}
.consent-2 h4{
    font-size: 1.5em;
    margin: 10px auto;
    line-height: 1.5;
}
.click-to-proceed{
    margin: 20px auto;
}
.click-to-proceed h5{
    font-size: 1.5em;
    margin: 10px auto;
    line-height: 1.5;
}
.button-list{
    margin: 5px auto;
}
.ok-button{
    background: #008000;
    border: 1px solid transparent;
    border-radius: 10px;
    display: inline-block;
    width:100px;
    font-size: 14px;
    padding: 2px 5px;
    margin: 5px;
    outline: none;
}
.cancel-button{
    background:#FF0000;
    border: 1px solid transparent;
    border-radius: 10px;
    display: inline-block;
    width:100px;
    font-size: 14px;
    padding: 2px 5px;
    margin: 5px;
    outline: none;
}
/**********consent css end***********/

/*************footer start*********/
.footer{
    position: absolute;
    right: 0;
    height: auto;
    bottom: 0;
    left: 0;
    background: #262626;
    overflow: hidden;
}
.top-footer {
    padding: 1em 1em 0;
    text-align: center;
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
    width: 100%;
    font-family: 'lato', sans-serif;
    direction: ltr;
}
.top-footer > ul > li {
    display: inline-block;
}
.top-footer > ul > li > a{
    color:#8fbf00;
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px auto;
}
.top-footer > ul > li > a:hover{
    color: #fff;
    text-decoration:none;
}

.middle-footer  {
    position: relative;
    bottom: 0;
    padding: 0em 0 1em;
    text-align: center;
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
    width: 100%;
    direction: ltr;
    font-family: 'lato', sans-serif;
    border-bottom: 1px dotted #8fbf00
}
/* footer social icons */
ul.social-network {
    list-style: none;
    margin:5px auto;
    padding: 0;
}
ul.social-network li {
    display: inline-block;
    margin: 0 5px;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
.social-network li a {
    font-size: 20px;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #8fbf00;
    outline: none;
    background:transparent;
    border:1px solid #8fbf00;
}
.social-network li a:hover, .social-network li a:focus, .social-network li a:active {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
.bottom-footer{
    text-align: center;
    width: 100%;
    padding: 5px;
    direction: ltr;
    color: #000;
    background: #8fbf00;
    font-size: 12px;
    text-decoration: none;
    outline: 0;
    text-transform: capitalize;
    font-family: 'lato', sans-serif;
}
/********footer end*********/

/**********subscription css start********/
.subscription-bg {
    text-align: center;
}
.subscription-bg h3 {
    margin-top:15px;
    font-size: 25px;
    /*font-family: roboto-regular;*/
    text-align: center;
    text-shadow: 2px 0px 0px #8fbf00 ;
    color: #000;
    padding: 20px 0;
    text-transform: uppercase;
}
.subscription-info{
    box-shadow: 0px 0px 2px 2px #000;
    background: transparent;
    width:280px;
    border-radius: 10px;
    text-align: center;
    margin: 15px auto;
    text-transform: capitalize;
    color:#000;
    padding:15px;
    line-height: 30px;
}
.active-subscription {
    text-align: center;
    background: #fff ;
    box-shadow: 0px 0px 2px 2px #8fbf00;
    color: #000;
    font-family: roboto-regular;
    font-size: 18px;
    border-radius: 15px;
    width: 250px;
    margin: 5px auto;
    padding: 10px;
    text-transform: uppercase;
}
.un-subscription{
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 2px 2px #8fbf00;
    color: #000;
    font-family: roboto-regular;
    font-size: 18px;
    border-radius: 15px;
    width: 280px;
    margin: 5px auto;
    padding: 10px;
    text-transform: uppercase;
}
.subscription p{
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 2px 2px #8fbf00;
    color: #000;
    font-family: roboto-regular;
    border-radius: 15px;
    width: 280px;
    margin: 5px auto;
    font-size: 12px;
    padding: 5px;
    text-transform: uppercase;
}
.active-subscription:hover, .active-subscription:focus , .active-subscription:active,
.un-subscription:hover, .un-subscription:focus , .un-subscription:active{
    background-color: #8fbf00;
    color:#000 ;
}
/**********subscription css end***********/

/***********responsive**********/

@media(max-width:800px) {
    .content-grid {
        width: 20%;
    }
}
@media all and (max-width : 736px) {
    .content-grid {
        width: 25%;
    }
}
@media all and (max-width : 567px) {
    .content-grid {
        width: 33%;
    }
}


