@charset "utf-8";

.main
{
}

.wrap
{
}



.item
{
padding:0% 0% 0% 0%;
}
/**************************Index page style sheet start***************************/
 
/**************************row 2 start***************************/

.navbar
{

background-color:#ffffff;
border:0;
}

.nav
{
padding:0% 6% 0% 0%;
position:relative;
font-family:arial;
font-size:16px;
}

.nav a:link {
    color: black;
    
    text-decoration: none;
}
.nav a:visited {
    color: grey;

    text-decoration: none;
}
.nav a:hover {
    color: blue;

    text-decoration: underline;
}
.nav:active {
    color: red;
  
    text-decoration: underline;
}
/******************media querry for mobile start***************************/


@media only screen and (max-width:500px)
{
.navbar
{
padding:5% 0% 1% 20%;
background-color:#ffffff;
position:relative;
bottom:20px;
border:0;
}

.tgl
{
background-color:#ffffff;
position:relative;
top:55px;
}
.active1
{
background-color:#0d47a1;
color:#fff;
	
	}



.bann
{
display:none;
}

.service
{
margin:0% 0% 3% 0%;
background-color:#f5f5f5;
box-sizing: border-box;
text-align:center;
}

.til
{
padding:0% 0% 4% 0%;
font-family:Arial;
font-size:20px;
color:#bf202f;
font-weight:Bold;
box-sizing: border-box;
text-align:center
}

.pic
{
padding:2% 0% 2% 0%;

box-sizing: border-box;
}

.de
{
padding:2% 2% 2% 2%;

font-family:verdana;
font-size:18px;
color:#666666;
}

.btng
{
font-family:arial;
font-size:18px;
background-color:#db661f;
color:#ffffff;
border:0;
}

.btng:hover {
background-color:#d77438;
}



.row13
{
padding:0% 3% 3% 15%;
text-align:center;
}


.btn1
{

background-color:#db661f;
color:#ffffff;
font-family:arial;
font-size:22px;
border:0;
box-sizing: border-box;
text-align:center;
box-sizing: border-box;
}

.btn1:hover
{ background-color:#a83300;
}

.row13
{
padding:0% 10% 0% 10%;
text-align:center;
box-sizing: border-box;
}




}

/******************media querry for mobile end***************************/




/**************************row 2 end***************************/

/**************************row 3 start***************************/
.row3
{
padding:0% 0% 0% 0%;
background-color:#ccbbff;
}

.navbar1
{
padding:4% 30% 0% 30%;
position:relative;
font-family:arial;
font-size:16px;
}

.navbar-form
{
position:relative;
top:-8px;
border-radius: 25px;
}

.view
{
font-family:arial;
font-size:18px;
color:#1e1e1e;
}
/**************************row 3 end***************************/

/**************************row 4 start***************************/

.row4
{
padding:1% 0% 2% 0%;
color:#dd3626;
}



.row4 h1
{
padding:2% 0% 0% 0%;
font-family:arial;
color:#dd3626;
font-weight:bold;
text-align:center;
}

/**************************row 4 end***************************/

/**************************row 5 start***************************/

/**************************panel 1 start***************************/
.vl
{
padding:0% 0% 7% 0%;
font-family:arial;
font-size:25px;
color:#ffffff;
text-align:center;
text-decoration:underline;
}

.ser1
{
}

.panel1 {
  position: relative;
  width: 100%;
font-family:arial;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity:0.4;
}

.panel1:hover .overlay {
  width: 100%;
}

.text {
  color: white;
font-family:arial;
  font-size: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
right:-30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

/**************************panel 1 end***************************/

/**************************panel 2 start***************************/

.ser2
{
}


.panel2 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity:0.6;
}

.panel2:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
right:-30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

/**************************panel 2 end***************************/

/**************************panel 3 start***************************/

.ser3
{
}


.panel3 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity:0.6;
}

.panel3:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

/**************************panel 3 end***************************/

/**************************row 5 end***************************/

/**************************row 6 start***************************/

.row6
{
padding:1% 0% 0% 0%;
}

.ser4
{
margin:0% 0% 0% 15%;
}


.panel4 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity:0.6;
}

.panel4:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}



.ser5
{
margin:0% 15% 0% 0%;
}

.panel5 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity:0.6;
}

.panel5:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}



/**************************row 6 end***************************/


.row7
{
padding:2% 0% 0% 0%;

}

.vl 
{

font-family:Arial;
font-size:36px;
text-align:center;
text-decoration:none;
color:#db661f;
}

.row7 a:hover {
    color:#dd3626;
	text-decoration:none;
}


.row8
{
padding:1% 0% 2% 0%;
}

.head2
{
font-family:arial;
color:#dd3626;
font-weight:bold;
text-align:center;
}

.row9
{
padding:2% 2% 3% 2%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.wh
{
font-family:arial;
}

.desc
{
font-family:verdana;
}

.w1
{
}

.w2
{
}

.w3
{
}



.row10
{
padding:2% 0% 0% 0%;

}

.head3
{
font-family:arial;
color:#dc3626;
font-weight:bold;
text-align:center;
}

.row11
{
padding:2% 2% 2% 2%;
text-align:center;
font-size:16px;
line-height:24px;
}


}


.row12
{
padding:2% 0% 0% 0%;
}

.touch
{
padding:4% 0% 0% 0%;
}

.head4
{
font-family:arial;
color:#dc3626;
font-weight:bold;
text-align:center;
}

/******************* Form submit button strt****************************/

.btn1
{

padding: 10px 20px;
background-color:#0d47a1;
color:#ffffff;
font-family:arial;
font-size:22px;
border:0;
box-sizing: border-box;
}

.btn1:hover
{ 
background-color:#8590e3;
}
/******************* Form submit button end ****************************/


.bck
{
background-color:#39496b;
}

.row14
{
padding:3% 0% 0% 0%;
}

.info
{
text-align:center;
}

.des
{
font-size:16px;
}


.panelloc
{
background-color:#39496b;
color:#ffffff;
}

.addre
{
color:#ffffff;
font-family:verdana;
text-align:center;
font-size:18px;
}

.panelcont
{
background-color:#39496b;
color:#ffffff;
font-size:20px;
}

.conta
{
padding:8% 0% 14% 0%;
}

.panelema
{

color:#ffffff;
font-family:verdana;
text-align:center;
font-size:18px;
}

.emai
{
padding:7% 0% 26% 0%;
text-align:center;
box-sizing: border-box;
}

.row15
{
padding:1% 0% 1% 0%;
font-size:15px;
box-sizing: border-box;
}

.glyph
{
font-size:14px;
font-family:verdana;

}

.row17
{
padding:1% 0% 1% 0%;
background-color:#283593;
color:#ffffff;
}



/**************************Index page style sheet end***************************/

/***********************************Social icon end***************************************************/


/*******************who we are *********************************/

.breadcrumb
{
background-color:#ffffff;
}


.heading
{
padding:0;
font-family:arial;
color:#dc3626;
font-weight:bold;
text-align:center;
}

.para
{
padding:2% 10% 6% 10%;
box-sizing: border-box;
}

.abt
{
font-family:verdana;
font-size:22px;
line-height:32px;
text-align:center;
color:#666666;
}

.wwa
{
padding:2% 0% 2% 0%;;
background-color:#f5f5f5;
font-family:arial;
color:#be1e2e;
text-align:center;
box-sizing: border-box;
}


.panelloc1
{
background-color:#39496b;
color:#ffffff;
}

.address1
{
color:#ffffff;
font-family:verdana;
text-align:center;
font-size:20px;
}

.panelcont1
{
background-color:#39496b;
color:#ffffff;
font-size:20px;
}

.contact1
{
padding:12% 0% 15% 0%;
box-sizing: border-box;
}

.panelema1
{
background-color:#39496b;
color:#ffffff;
font-family:verdana;
text-align:center;
font-size:18px;
}

.email1
{
padding:20% 0% 25% 0%;
box-sizing: border-box;
}



.head
{
font-family:arial;
color:#be1e2e;
text-align:center;
}

.service
{
margin:0% 0% 3% 0%;
background-color:#f5f5f5;
box-sizing: border-box;
}

.til
{
padding:0% 0% 4% 0%;
font-family:Arial;
font-size:20px;
color:#bf202f;
font-weight:Bold;
box-sizing: border-box;
}

.pic
{
padding:2% 2% 2% 2%;
background-color:#f5f5f5;
}

.de
{
padding:2% 2% 2% 2%;
background-color:#f5f5f5;
font-family:verdana;
font-size:18px;
color:#666666;
}

.btng
{
font-family:arial;
font-size:18px;
background-color:#db661f;
color:#ffffff;
border:0;
}

.btng:hover {
background-color:#d77438;
}


.OS
{
padding:3% 0% 2% 0%;;
background-color:#f5f5f5;
font-family:arial;
color:#be1e2e;
text-align:center;
}

/***************************************our service pg end*******************************/



.row21
{
background-image: url("../images/hotels.png");
color:#ffffff;
}

.floatLabel
{
color:#000000;
}

#arrive
{
color:#000000;
}

#depart
{
color:#000000;
}

.split-list ul
{
  float: left;
  margin-left: 1em;
}

.split-list li
{
padding-right: 6em;
line-height: 1.5em;
@include font-size(12px);
font-size:18px;
}

.text-center
{
font-size:13px;
}

.container
{ width: 940px !important; }